.current-weather {
    width: 100%; /* Use the full width of the parent container */
    max-width: 1200px; /* Set a maximum width to avoid overly stretched content */
    padding: 20px;
    border-radius: 8px;
    background-color: #dbeaff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
}

.current-weather p {
    font-size: 1.1em; /* Slightly increase font size for readability */
    color: #007bff; /* Consistent color for text */
}
